# backend
backend/.env
backend/gen/api/*.gen.go.bak

# frontend (Nx)
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/.nx/
frontend/.angular/
frontend/storybook-static/

# deploy
deploy/.env
