<tm-data-table-page
  [selectedTable]="'history.tableTitle' | transloco"
  [columns]="columnDefs()"
  [rows]="displayRows()"
  [totalCount]="total()"
  [page]="page()"
  [pageSize]="pageSize()"
  [loading]="loading()"
  [canCreate]="false"
  [showMultiSelect]="true"
  [filterColumns]="filterColumns()"
  [predicates]="predicates()"
  [expandedIndex]="expandedIndex()"
  [expandTemplate]="detailTpl"
  storageKey="ftool.colw:history"
  (predicatesChange)="onPredicatesChanged($event)"
  (rowSelected)="onRowSelected($event)"
  (pageChanged)="onPageChanged($event)"
  (pageSizeChanged)="onPageSizeChanged($event)"
  (csvExportClicked)="openCsvExport($event)"
/>


<ng-template #resultTpl let-row>
  @if (row['result'] === 'failure') {
    <span class="badge ng">{{ 'history.resultNg' | transloco }}</span>
  } @else {
    <span class="result-ok">{{ 'history.resultOk' | transloco }}</span>
  }
  @if (rowOf(row)?.errorCode) {
    <span class="err-code">{{ rowOf(row)?.errorCode }}</span>
  }
</ng-template>


<ng-template #detailTpl let-row>
  <pre class="detail">{{ rowOf(row)?.detailText }}</pre>
  <button mat-stroked-button class="detail-dl" type="button"
    (click)="$event.stopPropagation(); onDownloadRequested(row)">
    <mat-icon class="ic" aria-hidden="true">download</mat-icon>
    {{ 'history.detailDownload' | transloco }}
  </button>
</ng-template>
